@import '../../../../style/variables.scss';

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: $primary_gray;
    color: $dark_text;
  }

  .file_left {
    width: 30%;
    display: flex;
    flex-grow: 1;
    gap: 8px;
    padding: 8px 0;

    .name {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .file_right {
    width: 56px;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;

    .icon {
      width: 50%;
      font-size: 16px;
      color: $light_text;

      &:hover {
        cursor: pointer;
        color: $dark_text;
      }
    }
  }
}
