@import '../../../../style/variables.scss';

.folder {
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: pointer;
      background-color: $primary_gray;
      color: $dark_text;
    }

    .folder_left {
      display: flex;
      flex-grow: 1;
      gap: 5px;
      padding: 8px 0;

      .folder_icon {
        color: $folder_bg;
        font-size: 15px;
      }

      .name {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .folder_right {
      display: flex;
      justify-content: flex-end;
      padding: 8px 12px 8px 0;

      .icon {
        padding-left: 10px;
        font-size: 16px;
        color: $light_text;

        &:hover {
          cursor: pointer;
          color: $dark_text;
        }
      }
    }
  }
}
