@import '../style/variables.scss';

main.home {
  height: calc(100% - $header_height);
  width: 100%;
  display: flex;
  flex-grow: 1;

  .home_left {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    transition: filter 0.2s ease-out, background-color 0.2s ease-out;
    font-size: 16px;
  }

  .editor {
    flex-grow: 1;
    display: flex;
    place-items: center;
    transition: filter 0.2s ease-out, background-color 0.2s ease-out;
    font-size: 16px;
  }

  .tabs {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    transition: filter 0.2s ease-out, background-color 0.2s ease-out;
    font-size: 16px;
  }
}
