$sm: 640px;
$md: 768px;
$lg: 1012px;
$xl: 1280px;
$dxl: 1536px;

$bg_primary: var(--primary_bg);
$bg_secondary: var(--secondary_bg);
$bg_hover_secondary: var(--secondary_hover_bg);
$primary_gray: var(--primary_gray);
$secondary_gray: var(--secondary_gray);
$dark_text: var(--dark_text);
$light_text: var(--light_text);
$folder_bg: var(--folder_bg);
$primary_red: var(--primary_red);
$secondary_red: var(--secondary_red);

$header_height: 68px;
